h2, .selectCat {order:-4}

article {
  width: 90vw;
  margin: 15px auto;
}

article.hideArticle,
.smallArticle h4, .smallArticle figure, .smallArticle a {
  display: none;
}

article.smallArticle {
  max-height: 275px;
}

.smallArticle p.articleP {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media (min-width: 768px) {

  .asideSection {order: -2;}

}

@media (min-width: 992px) {
  .asideDesktop {
    height: 80vh;
  }

  .asideDesktop ul {
    list-style-type: none;
  }

  .asideDesktop ul li {
    margin: 5px auto;
  }
}
