.selectCat {order:-4}

article {width: 90vw;}

article.hideArticle,
.smallArticle h4, .smallArticle figure, .smallArticle a {
  display: none;
}

article.smallArticle {
  max-height: 250px;
}

.smallArticle p.articleP {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .asideSection {order: -2;}
  article.smallArticle {width: 45vw;}
}

@media (min-width: 992px) {

}
